src/main/resources/xml/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xmlTestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="code"/>
        <xs:element ref="message"/>
        <xs:element ref="status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="message" type="xs:string"/>
  <xs:element name="code" type="xs:string"/>
  <xs:element name="status">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="DONE"/>
        <xs:enumeration value="FAIL"/>
        <xs:enumeration value="PAUSED"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>